<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Bienvenido a Red Solidaria!</title>
    <link rel="stylesheet" href="/styles.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@400,700;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="navbar bg-p-l pd-2">
        <a href="" class="navbar__icon"></a>
        <div class="navbar__options">
            <a href="#" class="navbar__options--contact ft-1 txt-deco-non w-100 pd-05">Contacto</a>
            <a href="/signup.html" class="navbar__options--signup ft-1 txt-deco-non w-100 pd-05">Registrarse</a>
            <a href="/login.html" class="navbar__options--login ft-1 txt-deco-non w-100 pd-05">Acceder</a>
        </div>
    </nav>
    <main class="landing">
        <h1 style="color: rgb(42, 60, 41);" class="maintitle no-mg m-t-3 ft-5">Dona para la educación</h1>
        <p class="maindesc no-mg m-b-4">Red estudiantil de donaciones para el Politecnico Jaime Isaza Cadavid</p>
        <div class="hero">
            <div class="hero__fachade">
                <a href="#" class="hero__btn txt-deco-non ft-3 pd-05 w-275">Conocenos</a>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p class="footer__text ft-0 pd-1">Red Solidaria 2024. @All rights reserved.</p>
    </footer>
</body>

</html>