<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/index}">
<head>
    <title></title>
    <link rel="stylesheet" th:href="@{/css/donatives_styles.css}">
</head>
<body>
    <main layout:fragment="content" th:object="${donatives}">
        <h1 class="donativestitle ft-2">Elije lo que mejor se acomode a tus necesidades y recuerda darle las gracias al
            donador</h1>
        <div class="navtype ft-1">
            <a th:href="@{/donatives}" class="navtype__link" id="all_link">Todos</a>
            <a th:href="@{/donatives/filter(type='Asesoria')}" class="navtype__link" id="teach_link">Asesoria</a>
            <a th:href="@{/donatives/filter(type='Util escolar')}" class="navtype__link" id="supplies_link">Util Escolar</a>
            <a th:href="@{/donatives/filter(type='Alimento')}" class="navtype__link" id="food_link">Alimento</a>
            <a th:href="@{/donatives/filter(type='Varios')}" class="navtype__link" id="other_link">Varios</a>
        </div>
        <div class="gridlist">
            <div class="product" th:each="donative : ${donatives}">
                <a th:href="@{/donatives/(id=${donative.id})}" type="button" class="product__details">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="26"
                         height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ECF3DB" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                        <path d="M12 9h.01" />
                        <path d="M11 12h1v4h1" />
                    </svg>
                </a>
                <div class="product__image" th:style="'background-image: url(../img/' + ${donative.image}+')'"></div>
                <h2 class="product__title m-t-1 no-mg" th:text="${donative.name}"></h2>
                <div class="product__info m-t-1">
                    <p class="no-mg ft-1" th:if="${donative.type == 'Asesoria'}" th:text="'Duración: ' + ${donative.amount} + ' horas'"></p>
                    <p class="no-mg ft-1" th:unless="${donative.type == 'Asesoria'}" th:text="'Cantidad: ' + ${donative.amount}"></p>
                    <p class="no-mg ft-1" th:if="${donative.donativeCondition != ''}" th:text="'Estado: ' + ${donative.donativeCondition}"></p>
                    <button class="ft-1" type="button">Contactar</button>
                </div>
            </div>
        </div>
        <div class="modal" id="modal">
            <div class="productinfo">
                <button type="button" class="modal__close no-pd" onclick="closeModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="1.5" stroke="#2A3C29" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M18 6l-12 12" />
                        <path d="M6 6l12 12" />
                    </svg>
                </button>
                <div class="field">
                    <p id="name"></p>
                </div>
                <div class="field">
                    <p id="idUser"></p>
                </div>
                <div class="field">
                    <p id="type"></p>
                </div>
                <div class="field field--condition">
                    <p id="condition"></p>
                </div>
                <div class="field">
                    <p id="amount"></p>
                </div>
                <div class="field">
                    <p id="date"></p>
                </div>
                <div class="field">
                    <p id="description"></p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>