<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar bg-p-l pd-2" th:fragment="header">
        <a th:href="@{/}" class="navbar__icon"></a>
        <div class="navbar__options">
            <a th:href="@{/}" class="ft-1 txt-deco-non w-100 pd-05">Contacto</a>
            <a th:href="@{/signup}" class="ft-1 txt-deco-non w-100 pd-05">Registrarse</a>
            <a th:href="@{/login}" class="ft-1 txt-deco-non w-100 pd-05">Acceder</a>
        </div>
    </nav>
</body>
</html>